/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 100%;
}

h1 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 175%;
}

h2 {
   position:relative; 
   top 0px;
   left:70%;
   width: 30%;
   margin:0px;
   text-align: center;
   font-size: 175%;
}

.chicken {
  color: white;
  background-color: #A52A2A;
  border: 1px solid black;
  }
.beef {
  color: brown;
  background-color: yellow;
  border: 1px solid black;
  }

.sushi {
  background-color: #00FFAA;
  border: 1px solid black;
  }

div.section {
  margin: 10px;
  border: 1px solid black;
  background-color: gray;
}

p {
  background-color: gray;
  color: black;
  width: 90%;
  height: 150px;
  padding: 0px 10px 0px 10px;
  overflow: auto;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desctop **********/
@media (min-width: 992px) {
  .col-dp-1, .col-dp-2, .col-dp-3, .col-dp-4, .col-dp-5, .col-dp-6, .col-dp-7, .col-dp-8, .col-dp-9, .col-dp-10, .col-dp-11, .col-dp-12 {
    float: left;
  }
  .col-dp-1 {
    width: 8.33%;
  }
  .col-dp-2 {
    width: 16.66%;
  }
  .col-dp-3 {
    width: 25%;
  }
  .col-dp-4 {
    width: 33.33%;
  }
  .col-dp-5 {
    width: 41.66%;
  }
  .col-dp-6 {
    width: 50%;
  }
  .col-dp-7 {
    width: 58.33%;
  }
  .col-dp-8 {
    width: 66.66%;
  }
  .col-dp-9 {
    width: 74.99%;
  }
  .col-dp-10 {
    width: 83.33%;
  }
  .col-dp-11 {
    width: 91.66%;
  }
  .col-dp-12 {
    width: 100%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-tb-1, .col-tb-2, .col-tb-3, .col-tb-4, .col-tb-5, .col-tb-6, .col-tb-7, .col-tb-8, .col-tb-9, .col-tb-10, .col-tb-11, .col-tb-12 {
    float: left;
  }
  .col-tb-1 {
    width: 8.33%;
  }
  .col-tb-2 {
    width: 16.66%;
  }
  .col-tb-3 {
    width: 25%;
  }
  .col-tb-4 {
    width: 33.33%;
  }
  .col-tb-5 {
    width: 41.66%;
  }
  .col-tb-6 {
    width: 50%;
  }
  .col-tb-7 {
    width: 58.33%;
  }
  .col-tb-8 {
    width: 66.66%;
  }
  .col-tb-9 {
    width: 74.99%;
  }
  .col-tb-10 {
    width: 83.33%;
  }
  .col-tb-11 {
    width: 91.66%;
  }
  .col-tb-12 {
    width: 100%;
  }
}

/********** Mobile **********/
@media (max-width: 767px) {
  .col-mb-1, .col-mb-2, .col-mb-3, .col-mb-4, .col-mb-5, .col-mb-6, .col-mb-7, .col-mb-8, .col-mb-9, .col-mb-10, .col-mb-11, .col-mb-12 {
    float: left;
  }
  .col-mb-1 {
    width: 8.33%;
  }
  .col-mb-2 {
    width: 16.66%;
  }
  .col-mb-3 {
    width: 25%;
  }
  .col-mb-4 {
    width: 33.33%;
  }
  .col-mb-5 {
    width: 41.66%;
  }
  .col-mb-6 {
    width: 50%;
  }
  .col-mb-7 {
    width: 58.33%;
  }
  .col-mb-8 {
    width: 66.66%;
  }
  .col-mb-9 {
    width: 74.99%;
  }
  .col-mb-10 {
    width: 83.33%;
  }
  .col-mb-11 {
    width: 91.66%;
  }
  .col-mb-12 {
    width: 100%;
  }
}